*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
   
    font-family: 'Poppins', sans-serif;
    /* overflow-x: hidden; */
}

:root{
    --primary-color: #232931;
    --secondary-color: #393E46;
    --tertiary-color: #4ECCA3;
    --quaternary-color: #EEEEEE;
}